* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid olivedrab;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.7%;
}

.col-10 {
  width: 83%;
}

.col-9 {
  width: 91.67;
}

.col-12 {
  width: 100%;
}